In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
print("We have {} rows.".format(df.shape[0]))
print("We have {} columns.".format(df.shape[1]))

We have 1000 rows.
We have 8 columns.

In [4]:
np.sum(pd.isnull(df))

c:\Users\gh\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [5]:
df['gender'].unique()

array(['female', 'male'], dtype=object)

In [6]:
num = df['math score'].mode()[0]
df['math score'] = df['math score'].fillna(num)

In [7]:
df['math score'] = df['math score'].astype(np.int64)

In [8]:
df.drop('lunch', axis=1, inplace=True)

In [9]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [10]:
x = df.iloc[:, 0:-1]
y = df.iloc[:, -1]

x.shape, y.shape

((1000, 6), (1000,))

In [11]:
cat_columns = x.select_dtypes(['object']).columns
x[cat_columns] = x[cat_columns].apply(lambda col: pd.factorize(col)[0])